{
    "openapi": "3.1.0",
    "info": {
        "title": "bin2nlp API",
        "description": "\n        ## Binary Decompilation & Multi-LLM Translation Service\n\n        Transform binary executables into human-readable analysis through advanced decompilation \n        and multi-provider LLM translation.\n\n        ### Key Features\n        - **Multi-format support**: PE, ELF, Mach-O binary analysis\n        - **Multi-LLM providers**: OpenAI, Anthropic, Google Gemini integration\n        - **Scalable architecture**: PostgreSQL database, file storage, async processing\n        - **Production ready**: Open access, monitoring, observability\n\n        ### Open Access\n        All endpoints are freely accessible without authentication requirements.\n        This service is designed for open binary analysis and research.\n\n        ### Support\n        - Documentation: [GitHub Repository](https://github.com/example/bin2nlp)\n        - Issues: [Issue Tracker](https://github.com/example/bin2nlp/issues)\n        ",
        "termsOfService": "https://example.com/terms",
        "contact": {
            "name": "bin2nlp Support",
            "url": "https://example.com/support",
            "email": "support@example.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.bin2nlp.com",
            "description": "Production API"
        }
    ],
    "paths": {
        "/api/v1/health": {
            "get": {
                "tags": [
                    "health"
                ],
                "summary": "Health Check",
                "description": "Basic health check endpoint.\n\nReturns system status and component health information.\nUsed by load balancers and monitoring systems.",
                "operationId": "health_check_api_v1_health_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/health/ready": {
            "get": {
                "tags": [
                    "health"
                ],
                "summary": "Readiness Check",
                "description": "Kubernetes-style readiness check.\n\nReturns 200 if service is ready to accept requests,\n503 if not ready.",
                "operationId": "readiness_check_api_v1_health_ready_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/health/live": {
            "get": {
                "tags": [
                    "health"
                ],
                "summary": "Liveness Check",
                "description": "Kubernetes-style liveness check.\n\nSimple check that the service is running.\nAlways returns 200 unless the application is completely broken.",
                "operationId": "liveness_check_api_v1_health_live_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/system/info": {
            "get": {
                "tags": [
                    "health"
                ],
                "summary": "System Info",
                "description": "Get system information and capabilities.\n\nReturns information about supported formats, LLM providers,\nsystem limits, and configuration.",
                "operationId": "system_info_api_v1_system_info_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SystemInfoResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/decompile": {
            "post": {
                "tags": [
                    "decompilation"
                ],
                "summary": "Submit Decompilation Job",
                "description": "Submit a binary file for decompilation and LLM translation.\n\nUploads a binary file and starts async decompilation with optional\nLLM translation. Returns a job ID for tracking progress.\n\nArgs:\n    file: Binary file to decompile (PE, ELF, Mach-O, etc.)\n    analysis_depth: Decompilation depth (basic, standard, comprehensive)\n    llm_provider: LLM provider for translation (openai, anthropic, gemini)\n    translation_detail: Translation detail level (basic, standard, detailed)\n\nReturns:\n    Job information with tracking ID",
                "operationId": "submit_decompilation_job_api_v1_decompile_post",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_submit_decompilation_job_api_v1_decompile_post"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/decompile/test": {
            "get": {
                "tags": [
                    "decompilation"
                ],
                "summary": "Test Decompilation",
                "description": "Test endpoint for decompilation API.",
                "operationId": "test_decompilation_api_v1_decompile_test_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/decompile/{job_id}": {
            "get": {
                "tags": [
                    "decompilation"
                ],
                "summary": "Get Decompilation Result",
                "description": "Get decompilation job status and results.\n\nReturns job status, progress information, and complete results\nwhen processing is finished.",
                "operationId": "get_decompilation_result_api_v1_decompile__job_id__get",
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Job Id"
                        }
                    },
                    {
                        "name": "include_raw_data",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Include Raw Data"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "decompilation"
                ],
                "summary": "Cancel Decompilation Job",
                "description": "Cancel a pending or in-progress decompilation job.\n\nOnly jobs that are pending or in early processing stages can be cancelled.",
                "operationId": "cancel_decompilation_job_api_v1_decompile__job_id__delete",
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Job Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/llm-providers": {
            "get": {
                "tags": [
                    "llm-providers"
                ],
                "summary": "List Llm Providers",
                "description": "List available LLM providers and their capabilities.\n\nReturns information about all configured LLM providers including\nhealth status, available models, and cost information.",
                "operationId": "list_llm_providers_api_v1_llm_providers_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LLMProvidersResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/llm-providers/{provider_id}": {
            "get": {
                "tags": [
                    "llm-providers"
                ],
                "summary": "Get Llm Provider Details",
                "description": "Get detailed information about a specific LLM provider.\n\nReturns comprehensive information including health status,\nrecent performance metrics, and configuration details.",
                "operationId": "get_llm_provider_details_api_v1_llm_providers__provider_id__get",
                "parameters": [
                    {
                        "name": "provider_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Provider Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/llm-providers/{provider_id}/health-check": {
            "post": {
                "tags": [
                    "llm-providers"
                ],
                "summary": "Check Provider Health",
                "description": "Force a health check for a specific LLM provider.\n\nTriggers an immediate health check and returns the current status.\nUseful for testing provider connectivity and API key validity.",
                "operationId": "check_provider_health_api_v1_llm_providers__provider_id__health_check_post",
                "parameters": [
                    {
                        "name": "provider_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Provider Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/metrics/current": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get Current Metrics",
                "description": "Get current system metrics and performance data.",
                "operationId": "get_current_metrics_api_v1_metrics_current_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/metrics/performance": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get Performance Metrics",
                "description": "Get detailed performance metrics for operations.",
                "operationId": "get_performance_metrics_api_v1_metrics_performance_get",
                "parameters": [
                    {
                        "name": "operation_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Operation Type"
                        }
                    },
                    {
                        "name": "time_window_minutes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 60,
                            "title": "Time Window Minutes"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/metrics/decompilation": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get Decompilation Metrics",
                "description": "Get detailed decompilation performance metrics.",
                "operationId": "get_decompilation_metrics_api_v1_metrics_decompilation_get",
                "parameters": [
                    {
                        "name": "time_window_minutes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 60,
                            "title": "Time Window Minutes"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/metrics/llm": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get Llm Metrics",
                "description": "Get detailed LLM provider performance metrics.",
                "operationId": "get_llm_metrics_api_v1_metrics_llm_get",
                "parameters": [
                    {
                        "name": "time_window_minutes",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 60,
                            "title": "Time Window Minutes"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/circuit-breakers": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get All Circuit Breakers",
                "description": "Get status of all circuit breakers.",
                "operationId": "get_all_circuit_breakers_api_v1_circuit_breakers_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/circuit-breakers/{circuit_name}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get Circuit Breaker Status",
                "description": "Get detailed status for a specific circuit breaker.",
                "operationId": "get_circuit_breaker_status_api_v1_circuit_breakers__circuit_name__get",
                "parameters": [
                    {
                        "name": "circuit_name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Circuit Name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/circuit-breakers/{circuit_name}/reset": {
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Reset Circuit Breaker",
                "description": "Reset a specific circuit breaker to closed state.",
                "operationId": "reset_circuit_breaker_api_v1_circuit_breakers__circuit_name__reset_post",
                "parameters": [
                    {
                        "name": "circuit_name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Circuit Name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/circuit-breakers/{circuit_name}/force-open": {
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Force Open Circuit Breaker",
                "description": "Force a circuit breaker to open state (for testing).",
                "operationId": "force_open_circuit_breaker_api_v1_circuit_breakers__circuit_name__force_open_post",
                "parameters": [
                    {
                        "name": "circuit_name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Circuit Name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/circuit-breakers/health-check/all": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Health Check All Circuits",
                "description": "Run health checks on all circuit breakers.",
                "operationId": "health_check_all_circuits_api_v1_circuit_breakers_health_check_all_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/dashboards/overview": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get Overview Dashboard",
                "description": "Get comprehensive system overview dashboard.",
                "operationId": "get_overview_dashboard_api_v1_dashboards_overview_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/dashboards/performance": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get Performance Dashboard",
                "description": "Get performance-focused dashboard.",
                "operationId": "get_performance_dashboard_api_v1_dashboards_performance_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/alerts": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get All Alerts",
                "description": "Get all active alerts and optionally historical data.",
                "operationId": "get_all_alerts_api_v1_alerts_get",
                "parameters": [
                    {
                        "name": "include_history",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "title": "Include History"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/alerts/check": {
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Run Alert Checks Endpoint",
                "description": "Manually trigger alert checking process.",
                "operationId": "run_alert_checks_endpoint_api_v1_alerts_check_post",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/alerts/{alert_id}/acknowledge": {
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Acknowledge Alert",
                "description": "Acknowledge a specific alert.",
                "operationId": "acknowledge_alert_api_v1_alerts__alert_id__acknowledge_post",
                "parameters": [
                    {
                        "name": "alert_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Alert Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/alerts/{alert_id}/resolve": {
            "post": {
                "tags": [
                    "admin"
                ],
                "summary": "Resolve Alert",
                "description": "Resolve a specific alert.",
                "operationId": "resolve_alert_api_v1_alerts__alert_id__resolve_post",
                "parameters": [
                    {
                        "name": "alert_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Alert Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/monitoring/prometheus": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get Prometheus Metrics",
                "description": "Get metrics in Prometheus format.",
                "operationId": "get_prometheus_metrics_api_v1_monitoring_prometheus_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/monitoring/health-summary": {
            "get": {
                "tags": [
                    "admin"
                ],
                "summary": "Get Health Summary",
                "description": "Get comprehensive system health summary.",
                "operationId": "get_health_summary_api_v1_monitoring_health_summary_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/": {
            "get": {
                "tags": [
                    "dashboard",
                    "dashboard"
                ],
                "summary": "Dashboard Home",
                "description": "Main dashboard web interface.\n\nProvides a human-readable HTML dashboard showing system status,\nperformance metrics, circuit breaker status, and active alerts.",
                "operationId": "dashboard_home_dashboard__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dashboard/api": {
            "get": {
                "tags": [
                    "dashboard",
                    "dashboard"
                ],
                "summary": "Api Explorer",
                "description": "Simple API explorer page.\n\nProvides links to key API endpoints for manual testing and exploration.",
                "operationId": "api_explorer_dashboard_api_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Body_submit_decompilation_job_api_v1_decompile_post": {
                "properties": {
                    "file": {
                        "type": "string",
                        "format": "binary",
                        "title": "File"
                    },
                    "analysis_depth": {
                        "type": "string",
                        "title": "Analysis Depth",
                        "default": "standard"
                    },
                    "llm_provider": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Llm Provider"
                    },
                    "llm_model": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Llm Model"
                    },
                    "llm_endpoint_url": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Llm Endpoint Url"
                    },
                    "llm_api_key": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Llm Api Key"
                    },
                    "translation_detail": {
                        "type": "string",
                        "title": "Translation Detail",
                        "default": "standard"
                    }
                },
                "type": "object",
                "required": [
                    "file"
                ],
                "title": "Body_submit_decompilation_job_api_v1_decompile_post"
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "HealthResponse": {
                "properties": {
                    "status": {
                        "type": "string",
                        "title": "Status",
                        "description": "Overall system status"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Timestamp"
                    },
                    "version": {
                        "type": "string",
                        "title": "Version",
                        "description": "API version"
                    },
                    "environment": {
                        "type": "string",
                        "title": "Environment",
                        "description": "Environment name"
                    },
                    "services": {
                        "additionalProperties": {
                            "additionalProperties": true,
                            "type": "object"
                        },
                        "type": "object",
                        "title": "Services"
                    }
                },
                "type": "object",
                "required": [
                    "status",
                    "version",
                    "environment"
                ],
                "title": "HealthResponse",
                "description": "Health check response model."
            },
            "LLMProviderInfo": {
                "properties": {
                    "provider_id": {
                        "type": "string",
                        "title": "Provider Id",
                        "description": "Provider identifier"
                    },
                    "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "Human-readable provider name"
                    },
                    "status": {
                        "type": "string",
                        "title": "Status",
                        "description": "Provider availability status"
                    },
                    "available_models": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Available Models",
                        "description": "Available models"
                    },
                    "cost_per_1k_tokens": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Cost Per 1K Tokens",
                        "description": "Approximate cost per 1K tokens"
                    },
                    "capabilities": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Capabilities",
                        "description": "Supported translation operations"
                    },
                    "health_score": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Health Score",
                        "description": "Provider health score (0-1)"
                    }
                },
                "type": "object",
                "required": [
                    "provider_id",
                    "name",
                    "status",
                    "available_models",
                    "capabilities"
                ],
                "title": "LLMProviderInfo",
                "description": "Information about available LLM providers."
            },
            "LLMProvidersResponse": {
                "properties": {
                    "providers": {
                        "items": {
                            "$ref": "#/components/schemas/LLMProviderInfo"
                        },
                        "type": "array",
                        "title": "Providers",
                        "description": "Available LLM providers"
                    },
                    "recommended_provider": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Recommended Provider",
                        "description": "Recommended provider ID"
                    },
                    "total_healthy": {
                        "type": "integer",
                        "title": "Total Healthy",
                        "description": "Number of healthy providers"
                    },
                    "last_updated": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Last Updated"
                    }
                },
                "type": "object",
                "required": [
                    "providers",
                    "total_healthy"
                ],
                "title": "LLMProvidersResponse",
                "description": "Response listing available LLM providers."
            },
            "SystemInfoResponse": {
                "properties": {
                    "version": {
                        "type": "string",
                        "title": "Version",
                        "description": "API version"
                    },
                    "environment": {
                        "type": "string",
                        "title": "Environment",
                        "description": "Environment name"
                    },
                    "debug_mode": {
                        "type": "boolean",
                        "title": "Debug Mode",
                        "description": "Debug mode status"
                    },
                    "supported_formats": {
                        "items": {},
                        "type": "array",
                        "title": "Supported Formats",
                        "description": "Supported binary formats"
                    },
                    "llm_providers": {
                        "additionalProperties": true,
                        "type": "object",
                        "title": "Llm Providers",
                        "description": "Available LLM providers"
                    },
                    "limits": {
                        "additionalProperties": true,
                        "type": "object",
                        "title": "Limits",
                        "description": "System limits and quotas"
                    }
                },
                "type": "object",
                "required": [
                    "version",
                    "environment",
                    "debug_mode",
                    "supported_formats",
                    "llm_providers",
                    "limits"
                ],
                "title": "SystemInfoResponse",
                "description": "System information response model."
            },
            "ValidationError": {
                "properties": {
                    "loc": {
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "type": "array",
                        "title": "Location"
                    },
                    "msg": {
                        "type": "string",
                        "title": "Message"
                    },
                    "type": {
                        "type": "string",
                        "title": "Error Type"
                    }
                },
                "type": "object",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "title": "ValidationError"
            }
        }
    }
}
